body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .table-container {
    width: 80%;
    margin: 20px auto;
  }
  
  .data-info {
    background-color: #f0f0f0; /* Light gray background */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .data-info h1 {
    color: #333;
  }
  
  .data-info img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  h1 {
    color: #0066cc;
  }
  
  a {
    color: #0066cc;
  }
  
  a:hover {
    text-decoration: underline;
  }
  